<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1> Home page </h1>
	    <% for (var x in quote) { %>
	        <h3>Name: <%= quote[x].name %></h3>
	        <h4>Quote: <%= quote[x].quote %></h4>
	        <hr>
	    <% } %>


	</body>
	</html>